body{
    background-color: #001219;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #ca6702;
}

.btn{
    text-align: center;
    width: auto;
    padding: 30px;
    background-color: #9b2226;
}

a[href]{
    color: #ee9b00;
}

button{
    font-size: 17px;
    border-width: 3px;
    padding: 4px;
    margin: 3px;
    border-color: #ee9b00;
    background-color: #005f73;
}

.goose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
